<div class='nested-fields'>
  <div class='field'>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class='field'>
    <%= f.text_field :author, placeholder: "Author" %>
  </div>
  <div class='field'>
    <%= f.text_area :summary, placeholder: "Summary" %>
  </div>
  <%= link_to_remove_association "remove book", f %>
</div>
